In [70]:
import pandas as pd

In [71]:
pharma_df = pd.read_csv(r"C:\Users\Faizan Raza\Desktop\pharmaDE\pharmade\DATA\pharma-data.csv")

In [72]:
pharma_df.isna().sum().sum()

9

In [73]:
pharma_df.dropna(axis=0, how='any',inplace=True)

In [74]:
def changeyeartype(x):
    x = round(x)
    return x

In [75]:
pharma_df['Year'] = pharma_df['Year'].apply(changeyeartype)

In [76]:
pharma_df['Year'] = pd.to_datetime(pharma_df['Year'], format='%Y')

Schema_Making

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [12]:
postgresql_engine = create_engine("postgresql+psycopg2://postgres:PostgreSQL@localhost:5432/postgres")
connection = postgresql_engine.connect()
cursor = connection.cursor()
query = 'SELECT DISTINCT ("Year") FROM public."Fact-sales";'
years = cursor.execute(query).fetchall()
print(years)

AttributeError: 'Connection' object has no attribute 'cursor'

In [79]:
customer = pd.DataFrame({"Customer Name":pharma_df['Customer Name'].unique()})
# customer.rename_axis("", axis=1, inplace=True)
customer['Customer_ID'] = customer.index
customer.to_sql('DIM-customer',postgresql_engine,if_exists='replace')

751

In [80]:
df_distributor = pd.DataFrame({"Distributor":pharma_df['Distributor'].unique()}).reset_index().drop('index',axis=1)
df_distributor['Distributor_ID'] = df_distributor.index
df_distributor.to_sql("DIM-distributor",postgresql_engine,if_exists='replace')

27

In [81]:
df_month = pd.DataFrame({"Month":pharma_df["Month"].unique()})
df_month['Month_ID'] = df_month.index
df_month.to_sql("DIM-month",postgresql_engine,if_exists='replace')

12

In [82]:
df_product = pharma_df[['Product Name', 'Product Class']].drop_duplicates().reset_index().drop('index',axis=1)
df_product['Product_ID'] = df_product.index
df_product.to_sql("DIM-product",postgresql_engine,if_exists='replace')

240

In [83]:
df_subchannel = pharma_df[['Sub-channel', 'Channel']].drop_duplicates().reset_index().drop('index',axis=1)
df_subchannel["Subchannel_ID"] = df_subchannel.index
df_subchannel.to_sql("DIM-subchannel",postgresql_engine,if_exists='replace')
df_subchannel

   Sub-channel   Channel  Subchannel_ID
0      Private  Hospital              0
1       Retail  Pharmacy              1
2  Institution  Pharmacy              2
3   Government  Hospital              3

In [84]:
df_city = pharma_df[['City', 'Country','Latitude', 'Longitude']].drop_duplicates().reset_index().drop('index',axis=1)
df_city["City_ID"] = df_city.index
df_city.to_sql("DIM-city",postgresql_engine,if_exists='replace')

751

In [85]:
df_salserep = pd.DataFrame({"Name of Sales Rep":pharma_df["Name of Sales Rep"].unique()})
df_salserep["Sales_rep_ID"] = df_salserep.index
df_salserep.to_sql("DIM-sales-rep",postgresql_engine,if_exists='replace')
df_salserep

    Name of Sales Rep  Sales_rep_ID
0        Mary Gerrard             0
1       Jessica Smith             1
2        Steve Pepple             2
3             Anne Wu             3
4   Thompson Crawford             4
5       Sheila Stones             5
6        Stella Given             6
7       Morris Garcia             7
8         Erica Jones             8
9    Abigail Thompson             9
10       Daniel Gates            10
11           Alan Ray            11
12         Jimmy Grey            12

In [86]:
df_salseteam = pharma_df[['Sales Team', 'Manager']].drop_duplicates()[:-1].reset_index().drop('index',axis=1)
df_salseteam["Sales_team_ID"] = df_salseteam.index
df_salseteam.to_sql("DIM-sales-team",postgresql_engine,if_exists='replace')
df_salseteam

  Sales Team         Manager  Sales_team_ID
0      Delta   Britanny Bold              0
1      Bravo     Tracy Banks              1
2       Alfa  James Goodwill              2

In [87]:
# merging customer table
fact_table = pd.merge(pharma_df,customer,on="Customer Name",how='left')
fact_table.drop('Customer Name',axis=1,inplace=True)
fact_table.head()

,Distributor,City,Country,Latitude,Longitude,Channel,Sub-channel,Product Name,Product Class,Quantity,Price,Sales,Month,Year,Name of Sales Rep,Manager,Sales Team,Customer_ID
0,Gottlieb-Cruickshank,Lublin,Poland,51.2333,22.5667,Hospital,Private,Topipizole,Mood Stabilizers,4.0,368.0,1472.0,January,2018-01-01,Mary Gerrard,Britanny Bold,Delta,0
1,Gottlieb-Cruickshank,Świecie,Poland,53.4167,18.4333,Pharmacy,Retail,Choriotrisin,Antibiotics,7.0,591.0,4137.0,January,2018-01-01,Jessica Smith,Britanny Bold,Delta,1
2,Gottlieb-Cruickshank,Rybnik,Poland,50.0833,18.5000,Pharmacy,Institution,Acantaine,Antibiotics,30.0,66.0,1980.0,January,2018-01-01,Steve Pepple,Tracy Banks,Bravo,2
3,Gottlieb-Cruickshank,Czeladź,Poland,50.3333,19.0833,Hospital,Private,Lioletine Refliruvax,Analgesics,6.0,435.0,2610.0,January,2018-01-01,Mary Gerrard,Britanny Bold,Delta,3
4,Gottlieb-Cruickshank,Olsztyn,Poland,53.7800,20.4942,Pharmacy,Retail,Oxymotroban Fexoformin,Analgesics,20.0,458.0,9160.0,January,2018-01-01,Anne Wu,Britanny Bold,Delta,4

In [88]:
fact_table = pd.merge(fact_table,df_distributor,on="Distributor",how='left')
fact_table.drop('Distributor',axis=1,inplace=True)
fact_table.columns

Index(['City', 'Country', 'Latitude', 'Longitude', 'Channel', 'Sub-channel',
       'Product Name', 'Product Class', 'Quantity', 'Price', 'Sales', 'Month',
       'Year', 'Name of Sales Rep', 'Manager', 'Sales Team', 'Customer_ID',
       'Distributor_ID'],
      dtype='object')

In [89]:
fact_table = pd.merge(fact_table,df_month,on="Month",how='left')
fact_table.drop('Month',axis=1,inplace=True)
fact_table.columns

Index(['City', 'Country', 'Latitude', 'Longitude', 'Channel', 'Sub-channel',
       'Product Name', 'Product Class', 'Quantity', 'Price', 'Sales', 'Year',
       'Name of Sales Rep', 'Manager', 'Sales Team', 'Customer_ID',
       'Distributor_ID', 'Month_ID'],
      dtype='object')

In [90]:
fact_table = pd.merge(fact_table,df_product,on="Product Name",how='left')
fact_table.drop(columns=['Product Name',"Product Class_x","Product Class_y"],axis=1,inplace=True)
fact_table.columns

Index(['City', 'Country', 'Latitude', 'Longitude', 'Channel', 'Sub-channel',
       'Quantity', 'Price', 'Sales', 'Year', 'Name of Sales Rep', 'Manager',
       'Sales Team', 'Customer_ID', 'Distributor_ID', 'Month_ID',
       'Product_ID'],
      dtype='object')

In [91]:
fact_table = pd.merge(fact_table,df_subchannel,on="Sub-channel",how='left')
fact_table.drop(columns=['Sub-channel',"Channel_x","Channel_y"],axis=1,inplace=True)
fact_table.columns

Index(['City', 'Country', 'Latitude', 'Longitude', 'Quantity', 'Price',
       'Sales', 'Year', 'Name of Sales Rep', 'Manager', 'Sales Team',
       'Customer_ID', 'Distributor_ID', 'Month_ID', 'Product_ID',
       'Subchannel_ID'],
      dtype='object')

In [92]:
fact_table = pd.merge(fact_table,df_salseteam,on="Sales Team",how='left')
fact_table.drop(columns=['Sales Team',"Manager_x","Manager_y"],axis=1,inplace=True)
fact_table.columns

Index(['City', 'Country', 'Latitude', 'Longitude', 'Quantity', 'Price',
       'Sales', 'Year', 'Name of Sales Rep', 'Customer_ID', 'Distributor_ID',
       'Month_ID', 'Product_ID', 'Subchannel_ID', 'Sales_team_ID'],
      dtype='object')

In [93]:
fact_table = pd.merge(fact_table,df_salserep,on="Name of Sales Rep",how='left')
fact_table.drop(columns=['Name of Sales Rep'],axis=1,inplace=True)
fact_table.columns

Index(['City', 'Country', 'Latitude', 'Longitude', 'Quantity', 'Price',
       'Sales', 'Year', 'Customer_ID', 'Distributor_ID', 'Month_ID',
       'Product_ID', 'Subchannel_ID', 'Sales_team_ID', 'Sales_rep_ID'],
      dtype='object')

In [94]:
fact_table = pd.merge(fact_table,df_city,on="City",how='left')
fact_table.drop(columns=['City','Country_x','Country_y','Latitude_x', 'Longitude_x','Latitude_y', 'Longitude_y'],axis=1,inplace=True)
fact_table.columns

Index(['Quantity', 'Price', 'Sales', 'Year', 'Customer_ID', 'Distributor_ID',
       'Month_ID', 'Product_ID', 'Subchannel_ID', 'Sales_team_ID',
       'Sales_rep_ID', 'City_ID'],
      dtype='object')

In [95]:
fact_table.to_sql("FACT-sales",postgresql_engine,if_exists='replace')

676

In [96]:
# customer = pharma_df[['Customer Name','City']]
# df_distributor = pharma_df['Distributor']
# df_month = pharma_df[["Month"]]
# df_product = pharma_df[["Product Name","Product Class"]]
# df_subchannel = pharma_df['Sub-channel']
# df_city = pharma_df[['City','Latitude','Longitude']]
# df_salserep = pharma_df['Name of Sales Rep']
# df_salseteam = pharma_df[['Manager','Sales Team']]
# df_channel = pharma_df['Channel']
# df_country = pharma_df['Country']